//Form styles
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-right: size(13);
  padding-left: size(44);
  background-position: 8px center;
  margin-bottom: 10px;
}
div.wpcf7 textarea {
  height: size(59);
  background-image: url("../iconsall/form-textarea.png");
  background-position: calc(100% - 8px) 2px;
}
.form-product {
  div.wpcf7 textarea {
    height: size(44) !important;
    background-position: calc(100% - 7px) center;
  }
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/user.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"], .more-link {
  height: size(45);
  border-radius: size(23);
  background-color: $blue-main;
  @include base-text;
  line-height: 1.3rem;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  white-space: normal;
  background-repeat: no-repeat;
  transition: background-color .5s;
  &:hover {
	background-color: $blue-light;
	transition: background-color .5s;
  }
}
.more-link {
  @include d-center;
  cursor: pointer;
  padding: 10px size(30) 10px size(42);
  background-size: 10px;
  background-position: 24px center;
  min-width: 243px;
  background-image: url("../iconsall/arrow-down-white.png");
  &.hide {
	display: none;
  }
}
div.wpcf7 input[type="submit"] {
  padding-left: size(40);
  background-position: 7% center;
  background-size: 7px;
  background-image: url("../iconsall/arrow-white-left.png");
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
.foo-logo {
  @include d-center;
  img {
	max-height: size(79);
  }
}
.foo-form-title {
  color: #ffffff;
  font-family: $almoni;
  font-size: size(52);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
}
.foo-form-subtitle {
  @include base-title;
  font-weight: 400;
}
.post-form-title {
  @include base-title;
  color: #ffffff;
}
.post-form-subtitle {
  @include base-text;
  line-height: 1.1rem;
}
.post-form-title, .post-form-subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-family: $almoni;
}
.check-col {
  label {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	margin-top: -1rem;
  }
  input[type="checkbox"] {
	width: size(25);
	margin-left: 10px;
  }
  span {
	@include small-text;
	font-weight: 500;
	color: $blue-main;
  }
}
.post-form-wrap, .foo-form-margin {
  box-shadow: 0 4px 8px rgba(77, 180, 220, 0.33);
  border-radius: 20px;
  background-color: $blue-light;
  padding: 35px 8%;
}
.post-form-wrap {
  .check-col span {
	font-size: size(16);
	line-height: size(18);
  }
  .wpcf7-form {
	::placeholder {
	  @include small-text;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  @include small-text;
	}
  }
  div.wpcf7 input[type="text"], div.wpcf7 input[type="email"], div.wpcf7 input[type="tel"] {
	@include small-text;
  }
}
