#MainNav{
  ul{
	display: flex;
	height: 100%;
	li {
		position: relative;
		@include d-center;
	  padding: 0 20px;
		&.menu-item-has-children {
			background-image: url("../iconsall/arrow-down.png");
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 10px;
		}
	  a{
		@include d-center;
		  @include base-text;
		  font-weight: 500;
		text-align: center;
		color: $blue-text;
	  }
	}
  }
}
//Dropdown
header {
	#MainNav ul.sub-menu {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 99999;
		height: auto;
		padding: size(20);
		border-right: 2px solid $blue-light;
		border-radius: 15px 0 15px 15px;
		background-color: #ffffff;
		min-width: 300px;
		.back-to-menu, .sub-head {
			display: none;
		}
		li {
			justify-content: flex-start;
			a {
				@include small-text;
				text-align: right;
				justify-content: flex-start;
				color: $blue-text;
				font-weight: 500;
				margin-bottom: 0.5rem;
				transition: color .5s;
				&:hover {
					color: $blue-light;
					transition: color .5s;
				}
			}
		}
	}
}
.logo {
  @include d-center;
}
.header-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-socials-col {
	margin-bottom: 15px;
}
.social-item {
  margin: 0 size(14);
	img{
		width: size(29);
	}
  &:first-child {
	margin: 0 0 0 size(14);
  }
  &:last-child {
	margin: 0 size(14) 0 0;
  }
}
.header-logo-col {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .logo {
	justify-content: flex-end;
	img {
	  max-height: size(64);
	}
  }
}
header {
  padding: 8px 0;
  border-bottom: 6px solid $blue-light;
  background-image: url("../img/header-bottom.png");
  background-size: 100% 50px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.langs-wrap {
	margin: 0 10px;
  ul {
	display: flex;
  }
	li.active {
		display: none;
	}
  a {
	@include base-text;
	text-transform: uppercase;
	font-weight: 500;
	transition: color .5s;
	&:hover {
	  color: $blue-light;
	  transition: color .5s;
	}
  }
}
.pop-form {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999999999999;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	background-color: rgba(10, 80, 139, 0.3);
	transition: opacity .5s;
	overflow: hidden;
	&.show-popup {
		opacity: 1;
		pointer-events: all;
		transition: opacity .5s;
	}
}
.curr-body-hidden {
	overflow: hidden;
}
.float-form {
	position: relative;
	width: 100%;
	max-height: 95vh;
	transition: all .5s;
	z-index: 99999999999;
	transform: translateY(-100%);
	overflow-y: auto;
	opacity: 0;
	padding: size(16);
	&.show-float-form{
		opacity: 1;
		transform: translateY(0);
	}
}
.post-form-wrap {
	position: relative;
}
.close-form {
	cursor: pointer;
	position: absolute;
	right: 22px;
	top: 10px;
	img {
		width: size(22);
	}
}
.triggers-col {
	position: fixed;
	left: 1rem;
	top: 20%;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	img {
		width: size(60);
	}
}
.trigger-item {
	margin-bottom: 19px;
}
.pop-trigger {
	cursor: pointer;
	img {
		width: size(56);
	}
}
//Footer
.footer-main {
	position: relative;
	padding: 0 0 size(150) 0;
	background-image: url("../img/footer-bottom-back.png");
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.foo-title {
	@include mid-title;
	color: $blue-main;
	font-weight: 500;
	margin-bottom: size(20);
}
.hop-hey.four-columns {
	column-count: 2;
	column-gap: 2rem;
}
.foo-menu {
	position: relative;
	li {
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		page-break-inside: avoid; /* Firefox */
		break-inside: avoid-column;
		position: relative;
		a, span {
			display: flex;
			@include small-text;
			color: $blue-main;
			font-weight: 500;
			margin-bottom: 10px;
			transition: color .5s;
			&:hover {
				color: $blue-light;
				transition: color .5s;
			}
		}
	}
}
#go-top {
	position: absolute;
	top: -4.5rem;
	right: 35px;
	@include d-center;
	flex-direction: column;
	cursor: pointer;
	z-index: 999;
	img {
		width: size(58);
		animation: jump-top 1.2s ease-in-out alternate infinite;
	}
}
.top-text, .snif-title  {
	@include small-text;
	color: $blue-main;
	font-weight: 500;
}
.top-text {
	text-align: center;
	margin-top: 15px;
}
.foo-form-block {
	padding-top: 100px;
	padding-bottom: 135px;
	margin-top: -120px;
}
.foo-form-title {
	color: #ffffff;
	font-family: $almoni;
	font-size: size(52);
	font-weight: 700;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(56);
}
.foo-form-subtitle {
	@include base-title;
	font-weight: 400;
}
.foo-form-margin {
	margin-top: -6rem;
	position: relative;
	z-index: 4444;
	.check-col label {
		margin-top: 0;
	}
}
.header-tel {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-tel-number {
	@include base-text;
	color: #ffffff;
	font-weight: 700;
}
.header-tel-icon-wrap {
	@include d-center;
	width: size(29);
	height: size(29);
	border-radius: 50%;
	background-color: #ffffff;
	margin-right: size(29);
}
.user-cart-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}
.pb-menu {
	padding-bottom: size(13);
}