.clients-block, .foo-form-block {
  background-image: url("../img/clients-back.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.clients-block {
  padding: size(130) 0 size(100) 0;
}
.clients-line {
  background-color: #ffffff;
  padding: 40px 20px;
  .slick-list, .slick-track {
    display: flex !important;
  }
}
.client-logo {
  @include d-center;
  width: 100%;
  height: 100%;
  img {
    max-height: size(150);
  }
}
//Category card
.home-cats {
  .cat-col {
    padding: 0 5px;
    margin-bottom: 10px;
    .base-title-white {
      padding: 0 10px;
    }
    &:first-child {
      .cat-item-overlay, .cat-item-info, .cat-item-img {
        border-radius: 0 20px 0 0;
      }
    }
    &:nth-child(2) {
      .cat-item-overlay, .cat-item-info, .cat-item-img {
        border-radius: 0;
      }
    }
    &:nth-child(3)  {
      .cat-item-overlay, .cat-item-info, .cat-item-img {
        border-radius: 20px 0 0 0;
      }
    }
    &:nth-child(4) {
      .cat-item-overlay, .cat-item-info, .cat-item-img {
        border-radius: 0 0 20px;
      }
    }
    &:last-child  {
      .cat-item-overlay, .cat-item-info, .cat-item-img {
        border-radius: 0 0 0 20px;
      }
    }
  }
  .cat-item-img:after {
    padding-bottom: 62%;
  }
}
.cat-col {
  .base-title-white {
    padding: 0 10px;
  }
  margin-bottom: 17px;
  &:first-child {
    .cat-item-overlay, .cat-item-info, .cat-item-img {
      border-radius: 0 20px 0 0;
    }
  }
  &:nth-child(2)  {
    .cat-item-overlay, .cat-item-info, .cat-item-img {
      border-radius: 20px 0 0;
    }
  }
}
.cat-item-img {
  position: relative;
  @include back-img;
  background-color: $blue-main;
  width: 100%;
  display: flex;
  &:after {
    content: '';
    display: block;
    padding-bottom: 47%;
  }
  &:hover {
    .cat-item-overlay {
      background-color: $blue-light;
      opacity: 0.9;
      transition: background-color, opacity .5s;
    }
  }
}
.cat-item-overlay, .cat-item-info {
  width: 100%;
  @include d-center;
  position: relative;
}
.cat-item-overlay {
  @include overlay;
  background-color: $blue-main;
  opacity: 0.7;
  transition: background-color, opacity .5s;
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
    width: 7px;
    height: 10px;
    z-index: 33;
	transition: background-image .5s;
	&:hover {
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
	&:hover {
	  background-image: url("../iconsall/arrow-dark-left.png");
	}
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	&:hover {
	  background-image: url("../iconsall/arrow-dark-right.png");
	}
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.big-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
    width: size(25);
    height: size(38);
  }
}
.services-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
    top: 40%;
  }
}
.review-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
    width: size(59);
    height: size(59);
    background-size: size(22);
    background-color: $blue-main;
    z-index: 33;
    top: unset;
    bottom: -1.35rem;
    transition: background-image, background-color .5s;
    &:hover {
      background-color: $blue-light;
      transition: background-image, background-color .5s;
    }
  }
  [dir="rtl"] .slick-next {
    border-radius: 0 0 0 10px;
    left: 0;
    background-image: url("../iconsall/arrow-white-left.png");
    &:hover {
      background-image: url("../iconsall/arrow-dark-left.png");
    }
  }
  [dir="rtl"] .slick-prev {
    border-radius: 0 0 10px;
    right: 0;
    background-image: url("../iconsall/arrow-white-right.png");
    &:hover {
      background-image: url("../iconsall/arrow-dark-right.png");
    }
  }
}
.gallery-slider-wrap {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
    bottom: -0.85rem;
  }
  [dir="rtl"] .slick-next {
    left: 11px;
  }
  [dir="rtl"] .slick-prev {
    right: 11px;
  }
}
.revs-slider {
  box-shadow: 0 3px 43px rgba(10, 80, 139, 0.31);
  border-radius: 10px;
  background-color: #ffffff;
}
.review-item {
  height: 100%;
  padding: size(40) 15%;
}
.clients-line {
  [dir="rtl"] .slick-next {
    background-image: url("../iconsall/arrow-dark-left.png");
  }
  [dir="rtl"] .slick-prev {
    background-image: url("../iconsall/arrow-dark-right.png");
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
    top: unset;
	bottom: -15px;
  }
  [dir="rtl"] .slick-next {
    left: unset;
    right: 2rem;
    background-image: url("../iconsall/arrow-white-left.png");
    &:hover {
      background-image: url("../iconsall/arrow-left.png");
    }
  }
  [dir="rtl"] .slick-prev {
    right: 0;
    background-image: url("../iconsall/arrow-white-right.png");
    &:hover {
      background-image: url("../iconsall/arrow-right.png");
    }
  }
}
.base-slider-block {
  position: relative;
  padding: size(160) 0 size(200) 0;
  background-image: url("../img/slider-back.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
  }
}
//Banner
.banner-block {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 60px 0;
}
.banner-title {
  color: $blue-main;
  font-size: size(45);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(60);
  text-align: center;
  text-transform: uppercase;
}
//Top slider
.top-slider {
  background-image: linear-gradient(to right, #09508a 0%, #4db4dc 27%, #4db4dc 72%, #09508a 100%);
  .slick-list, .slick-track {
    display: flex !important;
  }
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
    bottom: 25px;
    width: size(17);
    height: size(24);
  }
  [dir="rtl"] .slick-next {
    right: 3rem;
  }
  [dir="rtl"] .slick-prev {
    right: 1rem;
  }
}
.slider-top-item {
  padding: size(60) 0;
}
.slider-top-title {
  color: #ffffff;
  font-size: size(52);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(52);
  text-align: center;
}
//Workers
.worker-col {
  margin-bottom: 45px;
}
.worker-item, .post-img {
  position: relative;
  display: flex;
  @include back-img;
  width: 100%;
  &:after {
    content: '';
    display: block;
  }
}
.worker-item {
  border-radius: 0 0 10px 10px;
  &:after {
    padding-bottom: 103%;
  }
}
.post-img {
  &:after {
    padding-bottom: 59%;
  }
}
.worker-content, .worker-content-appear {
  @include overlay;
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  &:hover {
    .post-card-content {
      background-color: $blue-light;
      transition: background-color .5s;
    }
    .worker-name {
      color: $blue-main;
      transition: color .5s;
    }
    .post-link {
      color: $blue-main;
      background-image: url("../iconsall/arrow-dark-left.png");
      transition: background-image, color .5s;
    }
  }
}
.post-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  background-color: $blue-main;
  padding: 10px 15px 15px 15px;
  transition: background-color .5s;
  .worker-name {
    text-align: center;
    transition: color .5s;
  }
}
.card-text {
  @include small-text;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.worker-content-appear {
  display: none;
  background-color: $blue-light;
  padding: 20px 25px 40px 25px;
  overflow-y: auto;
  border-radius: 0 0 10px 10px;
}
.worker-content {
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
}
.worker-name {
  color: #ffffff;
  font-size: size(30);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(36);
}
.worker-title-wrap {
  position: relative;
  width: 100%;
  min-height: size(99);
  border-radius: 0 0 10px 10px;
  background-color: $blue-main;
  padding: 16px 16px 16px 30%;
}
.worker-trigger, .worker-close {
  @include d-center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: size(45);
  height: size(39);
  border-radius: 0 0 0 10px;
  background-color: $blue-light;
  cursor: pointer;
  z-index: 9999;
}
.worker-trigger {
  &.hide {
    display: none;
  }
}
.worker-close {
  display: none;
  background-color: $blue-main;
  &.show {
    display: flex;
  }
}
//Video
.video-modal {
  .modal {
    z-index: 9999999999999999999999;
  }
  .modal-body {
    position: relative;
    padding: 0;
  }
  .modal-content {
    background: none;
    border: none;
  }
  .modal-backdrop {
    z-index: 10;
  }
  .close {
    position: absolute !important;
    top: -50px;
    right: -50px;
    width: 50px;
    height: 50px;
  }
  .modal .close-icon {
    padding: 0;
    margin: 0;
    @include d-center;
  }
  .modal-body{
    iframe{
      width: 100%;
      height: 500px;
      position: relative;
    }
  }
}