/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1900px) {
  .slider-top-title {
    font-size: size(72);
    line-height: size(72);
  }
}
@media (max-width: 1900px) {
  .foo-form-title {
    font-size: size(32);
    line-height: size(30);
  }
  .foo-form-subtitle {
    font-size: size(22);
    line-height: size(25);
  }
  .form-product {
    div.wpcf7 textarea {
      background-position: calc(100% - 7px) center;
    }
    div.wpcf7 input,
    div.wpcf7 textarea,
    div.wpcf7 select {
      @include small-text;
      height: size(34) !important;
    }
    div.wpcf7 input[type="text"], div.wpcf7 input[type="tel"],
    div.wpcf7 input[type="email"], div.wpcf7 textarea,
    div.wpcf7 select {
      background-size: size(30);
    }
    div.wpcf7 select, div.wpcf7 textarea {
      line-height: 0.75rem;
    }
    .wpcf7-form {
      ::placeholder {
        @include small-text;
      }
      ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
        @include small-text;
      }
    }
  }
  .line-form-prod {
    padding: 10px 0 0 0;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 73%;
  }
}
@media (min-width: 1600px) {
  .sticky-form-col {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (max-width: 1500px) {
  #MainNav ul li a {
    @include small-text;
  }
  .prod-loop-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .final-price-title, .price-total-wrap span  {
    font-size: size(26);
    line-height: size(28);
  }
  .product-small-card .woocommerce-loop-product__title {
    font-size: size(24);
    line-height: size(26);
  }
  .show-link-prod {
    span {
      font-size: size(20);
      line-height: size(22);
    }
  }
  .cat-col {
    .base-title-white {
      font-size: size(30);
      line-height: size(32);
    }
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  #MainNav ul li {
    padding: 0 10px;
    background-size: 8px !important;
  }
  .top-slider [dir=rtl] .slick-prev, .top-slider [dir=rtl] .slick-next {
    bottom: 0;
  }
  .shop-back {
    background-position: bottom center;
  }
  .social-item {
    margin: 0 5px;
    &:first-child {
      margin: 0 0 0 5px;
    }
    &:last-child {
      margin: 0 5px 0 0;
    }
  }
  .header-tel-icon-wrap {
    margin-right: 15px;
  }
  .header-tel-number {
    font-size: size(20);
    line-height: size(22);
  }
  .home-cats {
    .cat-col {
      &:first-child {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 0 20px 0 0;
        }
      }
      &:nth-child(2) {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 20px 0 0 0;
        }
      }
      &:nth-child(3)  {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 0;
        }
      }
      &:nth-child(4) {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 0;
        }
      }
      &:nth-child(5) {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 0 0 20px;
        }
      }
    }
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .col-gallery-item {
    padding: 0 15px;
  }
  .video-modal {
    .modal-body {
      iframe {
        height: 400px;
      }
    }
  }
  .col-contact-pad {
	padding: 0 15px;
	.post-form-subtitle {
	  text-align: center !important;
	  align-self: center;
	}
  }
  .form-wrapper-inside {
	border-radius: 0 0 20px 20px;
  }
  .contact-col {
	border-radius: 20px 20px 0 0;
  }
  .clients-block {
    padding: size(50) 0;
  }
  .clients-line {
    padding: 0 20px;
  }
  .slider-img-col {
    margin-top: 2rem;
  }
  .foo-titles-col {
    margin-top: 2rem;
  }
  .foo-form-title, .foo-form-subtitle {
    text-align: center;
  }
  .triggers-col {
    left: 5px;
    img {
      width: size(50);
    }
  }
  .trigger-item {
    margin-bottom: 10px;
  }
  .pop-trigger {
    img {
      width: size(46);
    }
  }
  .hop-hey.four-columns {
    column-count: 1;
    column-gap: unset;
  }
  .worker-title-wrap {
    padding: 16px 16px 16px 45px;
    .worker-name {
      font-size: size(26);
      line-height: size(28);
    }
  }
  .sticky-form-col {
    margin-top: 2rem;
  }
  .hidden-title {
    display: block;
  }
  div.product .product-body .product_title {
    display: none;
  }
  .add-cart-line {
    padding: 15px 0 0 0;
  }
  .qty-col-wrap {
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .price-total-wrap {
    width: 100%;
    order: -1;
    margin-bottom: 10px;
  }
  .gallery-slider-wrap {
    order: -1;
    margin-bottom: 20px;
  }
  .social-item {
    img {
      width: 20px;
    }
  }
  .header-tel {
    position: fixed;
    z-index: 999;
    right: 1rem;
    bottom: 1rem;
    animation: jump 1.2s ease-in-out alternate infinite;
  }
  .header-tel-number {
    display: none;
  }
  .header-tel-icon-wrap {
    border: 2px solid $blue-text;
    margin: 0 !important;
    width: 2.0909090909rem;
    height: 2.0909090909rem;
  }
  .row-column-custom {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .user-cart-wrap {
    padding-bottom: 0;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .form-product {
    div.wpcf7 textarea {
      margin-bottom: 10px;
    }
    .check-col {
      order: 2;
    }
  }
  .gallery-item-post {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin-bottom: 10px;
    .image-item-gal:after {
      padding-bottom: 50% !important;
    }
  }
  .home-cats {
    .cat-col {
      padding: 0 15px;
    }
  }
  .social-item {
    margin: 5px 0 !important;
    img {
      width: size(46);
    }
  }
  header #MainNav ul.sub-menu .back-to-menu, header #MainNav ul.sub-menu .sub-head {
    display: block;
  }
  .user-cart-wrap, .langs-wrap {
    padding-right: 40px;
  }
  header {
    background-position: left bottom;
    background-size: cover;
    padding-bottom: 14px !important;
  }
  .col-1.pb-menu {
    padding: 0;
  }
  .header-socials {
    position: fixed;
    left: 5px;
    top: calc(20% + 5rem);
    flex-direction: column;
    z-index: 999;
  }
  #MobNavBtn,
  nav#MainNav {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  #MobNavBtn {
    display: block;
    position: absolute;
    top: 4px;
    right:100%;
    width:45px;
    height:45px;
    background: $blue-main;
    z-index: 9999;
  }
  #MobNavBtn span {
    display: block;
    height:4px;
    width: 70%;
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    margin:0 auto;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
    opacity: 1;
  }
  #MobNavBtn span:nth-child(1) {
    -webkit-transform: translate(-50%,-280%);
    transform: translate(-50%,-280%);
  }
  #MobNavBtn span:nth-child(2) {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  #MobNavBtn span:nth-child(3) {
    -webkit-transform: translate(-50%,180%);
    transform: translate(-50%,180%);
  }
  nav.active #MobNavBtn span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  nav.active #MobNavBtn span:nth-child(1) {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  nav.active #MobNavBtn span:nth-child(3) {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
  }
  nav#MainNav .container,
  nav#MainNav div.main_menu {
    width: 100%;
  }
  nav#MainNav {
    display:block;
    position:fixed;
    width:200px;
    z-index:99999999;
    bottom:0;
    top:0;
    right:-200px;
    height:100vh;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
  }
  nav#MainNav,
  nav#MainNav ul.sub-menu {
    background-color: $blue-text !important;
  }
  nav#MainNav.active {
    right:0;
  }
  nav#MainNav div.main_menu > ul {
    display: block;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  nav#MainNav ul li:after {
    display:none;
  }
  nav#MainNav ul li {
    position: relative;
  }
  nav#MainNav ul li a {
    display: block;
    color:#fff;
    padding:5px 10px;
    width:calc(100% - 20px);
  }
  nav#MainNav div.main_menu > ul > li > a {
    padding:5px 10px 5px 30px;
    width:calc(100% - 40px);
  }
  nav#MainNav div.main_menu ul li.active,
  nav#MainNav div.main_menu ul li.current-menu-item {
    background-color: #3b3a3a;
  }
  nav#MainNav div.main_menu ul.active .back-to-menu:after,
  nav#MainNav div.main_menu ul li.menu-item-has-children:after {
    display: block;
    content: '';
    position: absolute;
    top: 12px;
    left: 6px;
    width: 16px;
    height: 16px;
    background: url(../iconsall/wmob-menu-arrow.svg) center center no-repeat;
    background-size:contain;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
  }
  nav#MainNav div.main_menu ul.active .back-to-menu:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  nav#MainNav div.main_menu ul.active li.menu-item-has-children {
    padding: 0;
    width: 100%;
  }
  nav#MainNav div.main_menu ul.active li.menu-item-has-children:after {
    display: none;
  }
  ul.sub-menu {
    display: none;
  }
  nav#MainNav div.main_menu > ul > li > ul.sub-menu {
    display: block;
    position: absolute;
    top:0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: inherit;
    -webkit-transition:all .5s ease;
    transition: all .5s ease;
  }
  nav#MainNav div.main_menu > ul > li > ul.sub-menu.chekd {
    height:0;
    position: relative;
    visibility: visible;
    pointer-events: auto;
  }
  nav#MainNav ul.sub-menu li:not(.back-to-menu) {
    display: block;
    width: calc(100% - 10px);
    margin: 0 auto 0 0;
    padding: 0;
    position: relative;
  }
  nav#MainNav ul.sub-menu li:nth-child(1),
  nav#MainNav	ul.sub-menu li:nth-child(2) {
    margin: 0;
    width: 100%;
  }
  nav#MainNav div.main_menu > ul > li.active > ul.sub-menu {
    opacity: 1;
  }
  nav#MainNav div.main_menu > ul.active > li > a {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  nav#MainNav .back-to-menu {
    cursor: pointer;
  }
  .foo-form-margin {
    .check-col {
      label {
        margin-top: 0;
      }
    }
  }
  .foo-form-title {
    font-size: size(40);
    line-height: size(44);
  }
  .foo-form-subtitle {
    font-size: size(30);
    line-height: size(34);
  }
  .hop-hey.four-columns {
    column-count: 2;
    column-gap: 2rem;
  }
  .contacts-footer-menu {
    order: 2;
  }
  .links-footer-menu {
    order: 3;
  }
  .menu-border-top {
    margin-bottom: 2rem;
  }
  .home-cats {
    .cat-col {
      &:first-child {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 20px 20px 0 0 !important;
        }
      }
      &:nth-child(2) {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 0 !important;
        }
      }
      &:nth-child(5) {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 0 !important;
        }
      }
      &:last-child {
        .cat-item-overlay, .cat-item-info, .cat-item-img {
          border-radius: 0 0 20px 20px !important;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .prod-loop-col {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
  }
  .slider-padding {
    padding-right: 1rem;
    padding-left: 1rem;
    [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
      width: size(15);
      height: size(28);
    }
  }
  .home-products {
    margin-top: 0;
  }
  .home-services {
    padding-bottom: 40px;
  }
  .gallery-item-post {
    .image-item-gal:after {
      padding-bottom: 80% !important;
    }
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .foo-form-title {
    font-size: size(36);
    line-height: size(38);
  }
  .foo-form-subtitle {
    font-size: size(27);
    line-height: size(29);
  }
  .hop-hey.four-columns {
    column-count: 1;
    column-gap: unset;
  }
  #go-top {
    top: -5.5rem;
  }
  .worker-title-wrap {
    .worker-name {
      font-size: size(30);
      line-height: size(28);
    }
  }
  .review-item {
    height: 100%;
    padding: size(40) 15px;
  }
  .video-modal {
    .modal-body {
      iframe {
        height: 300px;
      }
    }
    .close {
      top: -40px;
      right: -10px;
    }
  }
  .add-cart-line {
    .qty-wrap {
      height: 20px;
      input{
        width: 25px;
        height: 20px;
      }
      .plus, .minus{
        font-size: size(14);
        width: 25px;
        img {
          width: 40%;
        }
      }
    }
    .price-total-wrap {
      min-height: 30px;
    }
    .final-price-title, .price-total-wrap span  {
      font-size: size(18);
      line-height: size(20);
      margin: 0 2px;
    }
  }
  .buy-now-custom, .woocommerce div.product form.cart .button.add-custom {
    height: 30px !important;
    font-size: size(17) !important;
    line-height: size(20) !important;
  }
  .price-total-wrap {
    order: 2;
    width: auto;
  }
  .content-about-back {
    padding: size(40) 15px !important;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .video-modal {
    .modal-body {
      iframe {
        height: 260px;
      }
    }
  }
}
