.cart-animation-helper {
  margin: 0 20%;
  width: 0;
  height: 0;
  z-index: 999999999999999;
  position: absolute;
  &:after{
    opacity: 0;
    border-radius: 0;
    max-height: 19px;
    max-width: 19px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    height: 19px;
    width: 19px;
    background-color: #ffffff;

    transition:
            transform 0.8s ease-out,
            margin 0.8s ease-out,
            opacity 0.8s ease-out,
            border-radius 0.4s ease-out,
            max-height 0.4s ease-out,
            max-width 0.4s ease-out;
  }
}
.woocommerce-message::before {
  color: $blue-main;
}
.woocommerce-message {
  border-top-color: $blue-main;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $blue-main;
  color: #fff !important;
  border-radius: 22px;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin: 0;
  border-top-color: $blue-main;
  &:before {
    color: $blue-main;
  }
}
.return-to-shop {
  margin-top: 2rem;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $blue-main;
}
.header-btn {
  display: block;
  margin: 0 15px;
  position: relative;
  .count-circle {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: size(14);
    background-color: $blue-light;
    border-radius: 50%;
  }
  svg, img {
    min-width: 29px;
    height: auto;
    fill: #ffffff;
  }
}
//Custom add to cart
.add-cart-line {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 30px 0 0 0;
  z-index: 9999;
  background-color: $blue-light;
}
.qty-wrap {
  height: 40px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }
  input{
    -webkit-appearance: none;
    width: 50px;
    height: 40px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
  }
  input, .plus, .minus{
    flex: auto;
    cursor: pointer;
  }
  .plus, .minus{
    font-size: size(20);
    font-weight: 700;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-main;
    color: #ffffff;
    transition: all .5s;
    cursor: pointer;
    &:hover{
      background-color: $blue-light;
      color: #ffffff;
    }
  }
}
.check-col .woocommerce-input-wrapper {
  flex-grow: 1;
}
.buy-buttons, .qty-col-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy-now-custom, .woocommerce div.product form.cart .button.add-custom {
  width: 49%;
  height: 40px !important;
  font-size: size(24) !important;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  line-height: size(30) !important;
  padding: 3px 10px !important;
  border-radius: 20px !important;
}
.woocommerce div.product form.cart .button.add-custom {
  color: #ffffff !important;
  transition: transform .5s;
  &:hover {
    transform: scale(0.95, 0.95);
    color: #ffffff !important;
    transition: transform .5s;
  }
}
.buy-now-custom {
  @include d-center;
  background-color: #050505;
  color: #ffffff;
  transition: transform .5s;
  &:hover {
    transform: scale(0.95, 0.95);
    color: #ffffff;
    transition: transform .5s;
  }
}
.price-total-wrap {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $blue-main;
  flex-grow: 1;
  margin: 0 10px;
  justify-content: center;
  min-height: 40px;
}
.final-price-title, .price-total-wrap span  {
  margin: 0 5px;
  color: #ffffff;
  font-size: size(36);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  @include d-center;
  flex-direction: row-reverse;
}
.price-total-wrap span {
  margin-left: 10px;
}
.price-final-sale {
  color: $blue-main;
  text-decoration: line-through;
}
.product-share-line {
  margin: 1rem 0 2rem 0;
  .social-item-text {
    font-size: size(17);
    line-height: size(20);
    font-weight: 700;
    color: #050505;
    margin-left: 10px;
  }
}
//Product
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
//Slider gallery product/opt
.big-slider-item, .thumb-item {
  display: flex;
  width: 100%;
  @include back-img;
  border-radius: 20px;
  border: 1px solid $blue-main;
  &:after {
    content: '';
    padding-bottom: 68%;
    display: block;
  }
}
.thumb-item {
  &:after {
    padding-bottom: 68%;
  }
}
.related-prod, .related-prod-margin {
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.related-prod {
  background-image: url("../img/product-related-back.png");
  padding: size(100) 0 30px 0;
}
.related-prod-margin {
  padding-top: size(250);
  padding-bottom: 30px;
  margin-top: -13rem;
  background-image: url("../img/products-back.png");
}
//Product card
.product-small-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid $blue-main;
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 30%;
  .woocommerce-loop-product__title {
    @include mid-title;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    width: 100%;
    transition: background-color .5s;
  }
  .bottom .woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding: 15px 20px 0 20px;
  }
  .top {
    position: relative;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: $blue-main;
  }
  .top .woocommerce-loop-product__link {
    @include d-center;
    height: 300px;
    overflow-x: hidden;
    img {
      width: auto !important;
      max-height: 100%;
      height: auto !important;
    }
  }
  &:hover {
    .bottom .show-link-prod {
      width: 100%;
      height: size(41);
      border-radius: 0 0 10px 10px;
      background-color: $blue-light;
      opacity: 1;
      pointer-events: auto;
      transition: height .5s;
    }
  }
}
.show-link-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition: height .5s;
  &:hover {
    color: $blue-main;
  }
  span {
    @include base-text;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    padding: 0 14px;
    background-size: 7px;
    background-position: 4px center;
    background-repeat: no-repeat;
    background-image: url("../iconsall/arrow-dark-left.png");
  }
}
.prod-desc {
  @include small-text;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 10px;
}
.prod-col {
  padding: 0 5px;
}
.box-list li {
  border-radius: 10px;
  min-height: size(72);
  background-color: $blue-main;
  transition: background-color .5s;
  padding: 10px 20px 10px 30px;
  margin-bottom: 12px;
  &:hover {
    background-color: $blue-light;
    transition: background-color .5s;
  }
  &.curr-link {
    background-color: $blue-light;
  }
  .filter-link {
    width: 100%;
    height: 100%;
    @include base-text;
    color: #ffffff;
    font-weight: 500;
    line-height: size(27);
  }
}
.shop-back {
  background-image: url("../img/shop-back.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}