body {
  text-align: left;
  direction: ltr;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  background-position: 7px center;
  padding-right: 8px;
  padding-left: 2rem;
}

div.wpcf7 select {
  padding-left: 0.65rem;
  padding-right: 2rem;
  background-position: calc(100% - 8px) center;
}

div.wpcf7 input[type=submit] {
  padding-right: 2rem;
  padding-left: 8px;
  background-position: 93% center;
  background-image: url("../iconsall/arrow-white-right.png");
}

.more-link {
  background-position: calc(100% - 20px) center;
  padding: 10px 1.5rem 10px 2.1rem;
}

.post-link {
  background-image: url("../iconsall/arrow-white-right.png");
  background-position: right center;
}
.post-link:hover {
  background-image: url("../iconsall/arrow-dark-right.png");
}

.block-link {
  background-image: url("../iconsall/arrow-right.png");
  background-position: calc(100% - 3px) center;
}
.block-link:hover {
  background-position: right center;
}

.home-about-link {
  background-image: url("../iconsall/arrow-white-right.png");
}

.social-item:last-child {
  margin: 0 0 0 0.7rem;
}
.social-item:first-child {
  margin: 0 0.7rem 0 0;
}

#go-top {
  right: unset;
  left: 1.5rem;
}

.triggers-col {
  right: 1rem;
  left: unset;
}

.foo-form-wrap .form-title {
  text-align: left;
}

.contact-col {
  padding: 1.9rem 15% 3rem 8%;
}

.contact-icon-wrap {
  margin-right: 25px;
}

div.wpcf7 textarea {
  background-position: 2px 8px;
}

.check-col input[type=checkbox] {
  margin-left: 0;
  margin-right: 10px;
}

.form-wrapper-inside {
  border-radius: 0 20px 20px 0;
}

.contact-col {
  border-radius: 20px 0 0 20px;
}

.contact-page-body .post-form-subtitle {
  text-align: left;
}

header #MainNav ul.sub-menu {
  right: unset;
  left: 0;
  border-left: 2px solid #4db4dc;
  border-right: unset;
  border-radius: 0 15px 15px 15px;
}
header #MainNav ul.sub-menu a {
  text-align: left;
}

#MainNav ul li.menu-item-has-children {
  background-position: right center;
}

.close-form {
  right: unset;
  left: 22px;
}

.content-about-back {
  padding: 2rem 15% 2.65rem 2.3rem;
}

.worker-title-wrap {
  padding: 16px 30% 16px 16px;
}

.worker-trigger, .worker-close {
  left: unset;
  right: 0;
  border-radius: 0 0 10px 0;
}

.post-card:hover .post-link {
  background-image: url("../iconsall/arrow-dark-right.png");
}

.file-icon-wrap {
  margin-right: 18px;
  margin-left: 0;
}

.all-socials {
  left: 0;
  right: unset;
}

.base-title-post, .woocommerce div.product .product_title {
  text-align: left;
}

.video-trigger-wrap .play-button {
  right: unset;
  left: 0;
}

.product-share-line .all-socials {
  left: unset;
  right: 0;
}

.video-trigger-wrap {
  padding: 4px 15px 4px 3rem;
}

.show-link-prod span {
  background-position: calc(100% - 4px) center;
  background-image: url("../iconsall/arrow-dark-right.png");
}

.box-list li {
  padding: 10px 30px 10px 20px;
}

.main-slider ul.slick-dots {
  right: unset;
  left: 30px;
}

.header-tel-icon-wrap {
  margin-right: 0;
  margin-left: 1.45rem;
}

.header-tel {
  left: 1rem;
  right: unset;
}

.header-btn {
  margin: 0 15px 0 0;
}

header {
  background-image: url("../img/header-back-ltr.png");
}

.cat-col:first-child .cat-item-overlay, .cat-col:first-child .cat-item-info, .cat-col:first-child .cat-item-img {
  border-radius: 20px 0 0;
}
.cat-col:nth-child(2) .cat-item-overlay, .cat-col:nth-child(2) .cat-item-info, .cat-col:nth-child(2) .cat-item-img {
  border-radius: 0 20px 0 0;
}

.home-cats .row-cats {
  flex-direction: row-reverse;
}

.form-product div.wpcf7 textarea {
  background-position: 7px center;
}

@media (max-width: 1200px) {
  .social-item:last-child {
    margin: 0 0 0 5px;
  }
  .social-item:first-child {
    margin: 0 5px 0 0;
  }

  .header-tel-icon-wrap {
    margin-left: 15px;
  }
}
@media (max-width: 992px) {
  .header-tel img {
    margin: 0;
  }

  .foo-form-wrap .form-title {
    text-align: center;
  }

  .triggers-col {
    right: 5px;
  }

  .worker-title-wrap {
    padding: 16px 45px 16px 16px;
  }
}
@media (max-width: 768px) {
  .header-socials {
    left: unset;
    right: 5px;
  }

  #MobNavBtn, nav#MainNav {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  #MobNavBtn {
    right: unset;
    left: 100%;
  }

  nav#MainNav {
    right: unset;
    left: -200px;
  }

  nav#MainNav.active {
    left: 0;
    right: unset;
  }

  .user-cart-wrap, .langs-wrap {
    padding-left: 40px;
    padding-right: 0;
  }

  header {
    background-position: right bottom;
  }
}

/*# sourceMappingURL=ltr.css.map */
