@import "colors";
body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  text-align: left;
  background-position: 7px center;
  padding-right: 8px;
  padding-left: size(40);
}
div.wpcf7 select {
  padding-left: size(13);
  padding-right: size(40);
  background-position: calc(100% - 8px) center;
}
div.wpcf7 input[type="submit"] {
  padding-right: size(40);
  padding-left: 8px;
  background-position: 93% center;
  background-image: url("../iconsall/arrow-white-right.png");
}
.more-link {
  background-position: calc(100% - 20px) center;
  padding: 10px size(30) 10px size(42);
}
.post-link {
  background-image: url("../iconsall/arrow-white-right.png");
  background-position: right center;
  &:hover {
	background-image: url("../iconsall/arrow-dark-right.png");
  }
}
.block-link {
  background-image: url("../iconsall/arrow-right.png");
  background-position: calc(100% - 3px) center;
  &:hover {
    background-position: right center;
  }
}
.home-about-link {
  background-image: url("../iconsall/arrow-white-right.png");
}
.social-item {
  &:last-child {
	margin: 0 0 0 size(14);
  }
  &:first-child {
	margin: 0 size(14) 0 0;
  }
}
#go-top {
  right: unset;
  left: size(30);
}
.triggers-col {
  right: 1rem;
  left: unset;
}
.foo-form-wrap {
  .form-title {
	text-align: left;
  }
}
.contact-col {
  padding: size(38) 15% size(60) 8%;
}
.contact-icon-wrap {
  margin-right: 25px;
}
div.wpcf7 textarea {
  background-position: 2px 8px;
}
.check-col input[type="checkbox"] {
  margin-left: 0;
  margin-right: 10px;
}
.form-wrapper-inside {
  border-radius: 0 20px 20px 0;
}
.contact-col {
  border-radius: 20px 0 0 20px;
}
.contact-page-body {
  .post-form-subtitle {
	text-align: left;
  }
}
header {
  #MainNav ul.sub-menu {
    right: unset;
    left: 0;
    border-left: 2px solid $blue-light;
    border-right: unset;
    border-radius: 0 15px 15px 15px;
    a {
       text-align: left;
    }
  }
}
#MainNav {
  ul {
    li.menu-item-has-children {
      background-position: right center;
    }
  }
}
.close-form {
  right: unset;
  left: 22px;
}
.content-about-back {
  padding: size(40) 15% size(53) size(46);
}
.worker-title-wrap {
  padding: 16px 30% 16px 16px;
}
.worker-trigger, .worker-close {
  left: unset;
  right: 0;
  border-radius: 0 0 10px 0;
}
.post-card {
  &:hover {
    .post-link {
      background-image: url("../iconsall/arrow-dark-right.png");
    }
  }
}
.file-icon-wrap {
  margin-right: 18px;
  margin-left: 0;
}
.all-socials {
  left: 0;
  right: unset;
}
.base-title-post, .woocommerce div.product .product_title  {
  text-align: left;
}
.video-trigger-wrap {
  .play-button {
    right: unset;
    left: 0;
  }
}
.product-share-line {
  .all-socials {
    left: unset;
    right: 0;
  }
}
.video-trigger-wrap {
  padding: 4px 15px 4px size(60);
}
.show-link-prod span {
  background-position: calc(100% - 4px) center;
  background-image: url("../iconsall/arrow-dark-right.png");
}
.box-list li {
  padding: 10px 30px 10px 20px;
}
.main-slider {
  ul.slick-dots {
    right: unset;
    left: 30px;
  }
}
.header-tel-icon-wrap {
  margin-right: 0;
  margin-left: size(29);
}
.header-tel {
  left: 1rem;
  right: unset;
}
.header-btn {
  margin: 0 15px 0 0;
}
header {
  background-image: url("../img/header-back-ltr.png");
}
.cat-col {
  &:first-child {
    .cat-item-overlay, .cat-item-info, .cat-item-img {
      border-radius: 20px 0 0;
    }
  }
  &:nth-child(2)  {
    .cat-item-overlay, .cat-item-info, .cat-item-img {
      border-radius: 0 20px 0 0;
    }
  }
}
.home-cats .row-cats {
  flex-direction: row-reverse;
}
.form-product {
  div.wpcf7 textarea {
    background-position: 7px center;
  }
}
//MEDIA
@media (max-width: 1200px) {
  .social-item {
    &:last-child {
      margin: 0 0 0 5px;
    }
    &:first-child {
      margin: 0 5px 0 0;
    }
  }
  .header-tel-icon-wrap {
    margin-left: 15px;
  }
}
@media (max-width: 992px) {
  .header-tel {
	img {
	  margin: 0;
	}
  }
  .foo-form-wrap {
	.form-title {
	  text-align: center;
	}
  }
  .triggers-col {
    right: 5px;
  }
  .worker-title-wrap {
    padding: 16px 45px 16px 16px;
  }
}
@media (max-width: 768px) {
  .header-socials {
    left: unset;
    right: 5px;
  }
  #MobNavBtn, nav#MainNav {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  #MobNavBtn {
    right: unset;
    left: 100%;
  }
  nav#MainNav {
    right: unset;
    left: -200px;
  }
  nav#MainNav.active {
    left: 0;
    right: unset;
  }
  .user-cart-wrap, .langs-wrap {
    padding-left: 40px;
    padding-right: 0;
  }
  header {
    background-position: right bottom;
  }
}