@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";
@import "partials";
@import "shop";

body{
  font-family: $heebo;
  text-align: right;
}
.base-text {
  @include base-text;
  color: $blue-main;
}
.base-output {
  * {
	color: $blue-main;
  }
  h1, h2 {
	@include base-title;
	margin-bottom: size(26);
  }
  h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: 20px;
  }
  h3 {
	@include mid-title;
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h6 {
	font-size: size(24);
	line-height: size(26);
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(40);
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.product-body {
  .base-output {
    p {
      margin-bottom: 20px;
    }
  }
}
.base-output-white {
  p, li, h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
  }
}
.base-title, .woocommerce div.product .product_title {
  @include d-center;
  @include base-title;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  &:after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0;
	background-image: linear-gradient(to right, #0a508b 0%, #4cb3db 37%, #4cb3db 70%, #0a508b 100%);
	border-radius: 2px;
  }
}
.woocommerce div.product .product_title {
  justify-content: flex-start;
  text-align: right;
}
.hidden-title {
  display: none;
}
.base-title-white {
  @include base-title;
  text-align: center;
  color: #ffffff;
}
.middle-title {
  @include mid-title;
  font-weight: 700;
  color: $blue-main;
  text-align: center;
  margin-bottom: 19px;
}
.post-link {
  @include d-center;
  @include base-text;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  background-image: url("../iconsall/arrow-white-left.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 7px;
  padding: 0 20px;
  &:hover {
	color: $blue-main;
	background-image: url("../iconsall/arrow-dark-left.png");
	transition: background-image, color .5s;
  }
}
.block-link {
  @include d-center;
  @include mid-title;
  font-weight: 400;
  text-align: center;
  color: $blue-main;
  background-image: url("../iconsall/arrow-left.png");
  background-position: 3px center;
  padding: 0 14px;
  background-repeat: no-repeat;
  background-size: 7px;
  transition: color, background-position .5s;
  &:hover {
	color: $blue-light;
    background-position: left center;
	transition: color, background-position .5s;
  }
}
.about-home-link {
  font-weight: 700;
  font-family: $almoni;
  color: #ffffff;
  background-image: url("../iconsall/arrow-white-left.png");
  &:hover {
    background-image: url("../iconsall/arrow-left.png");
    transition: color, background-position .5s;
  }
}
//Homepage
.home-about-block {
  padding: 24px 0;
  background-image: url("../img/home-about-back.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.content-about-back {
  background-image: url("../img/h-about-content-back.png");
  @include back-img;
  border-radius: 20px;
  padding: size(40) size(46) size(53) 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  .base-output {
    padding: 0 14px;
  }
  .base-output p {
    margin-bottom: 0;
  }
}


//Contact page
.contact-type {
  font-size: size(24);
  line-height: size(28);
  font-weight: 700;
  color: #ffffff;
  transition: color .5s;
  &:hover {
	color: $blue-light;
	transition: color .5s;
  }
}
.contact-info {
  display: flex;
  align-items: center;
}
.contact-item {
  display: flex;
  margin-bottom: 35px;
  &:last-child {
	margin-bottom: 0;
  }
}
.contact-icon-wrap {
  @include d-center;
  width: size(51);
  min-width: size(51);
  margin-left: 25px;
  img {
	max-height: 100%;
  }
}
.map-image {
  display: flex;
  @include back-img;
  height: 423px;
}
.form-wrapper-inside {
  box-shadow: 0 4px 8px rgba(77, 180, 220, 0.33);
  border-radius: 20px 0 0 20px;
  background-color: $blue-light;
  padding: size(38) 12%;
}
.contact-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(38) 8% size(60) 15%;
  box-shadow: 0 4px 8px rgba(77, 180, 220, 0.33);
  border-radius: 0 20px 20px 0;
  background-color: $blue-main;
  .post-form-subtitle {
	color: $blue-light;
  }
}
.contact-page-body {
  background-image: url("../img/contact-back.png");
  @include back-img;
  .post-form-subtitle {
	text-align: right;
  }
}
.col-contact-pad {
  padding: 0 1px;
}
//Categories page
.cats-body-back, .home-cats, .home-products, .home-services  {
  background-image: url("../img/cats-body-back.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.home-services {
  background-image: url("../img/home-services-back.png");
  background-position: center;
  padding-top: size(70);
}
.home-cats {
  background-image: url("../img/product-related-back.png");
  padding-top: 100px;
}
.home-products {
  background-image: url("../img/products-back.png");
  padding-top: size(160);
  margin-top: -5rem;
}
.mb-banner {
  margin-bottom: 8rem;
}
//Single.php
.reviews-back {
  background-image: url("../img/post-revs.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.sticky-form {
  position: sticky;
  top: 0;
  z-index: 999;
  .close-form {
    display: none;
  }
}
.link-post-save {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  &:hover {
    .file-save-text {
      color: $blue-light;
      transition: color .5s;
    }
  }
}
.file-save-text {
  @include base-text;
  font-family: $almoni;
  font-weight: 700;
  transition: color .5s;
}
.file-icon-wrap {
  margin-left: 18px;
  img {
    width: 17px;
  }
}
.social-item-text {
  @include base-text;
  color: #050505;
  font-weight: 700;
  margin: 0 12px;
}
.trigger-wrap {
  position: relative;
}
.all-socials {
  position: absolute;
  display: flex;
  top: 100%;
  right: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity .5s;
  &.show-share {
    opacity: 1;
    pointer-events: all;
    transition: opacity .5s;
  }
}
.share-soc-item {
  margin: 0;
  .fas {
    font-size: 1rem;
    color: #000000;
  }
}
.socials-wrap {
  @include d-center;
  width: size(40);
  height: size(40);
  margin: 0 3px;
  background-color: $blue-light;
  border-radius: 50%;
  transition: background-color .5s;
  &:hover {
    background-color: $blue-text;
    transition: background-color .5s;
  }
  .fab, .far {
    font-size: 1rem;
    color: #ffffff;
  }
  &:hover {
    .fab, .far {
      color: #ffffff;
    }
  }
}
.social-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.base-title-post {
  text-align: right;
}
.margin-foo {
  margin-top: 7rem;
}
.video-trigger-wrap {
  position: relative;
  @include d-center;
  min-height: size(39);
  border-radius: 19px 21px 18px 19px;
  background-color: $blue-main;
  @include base-text;
  color: #ffffff;
  font-weight: 700;
  padding: 4px size(60) 4px 15px;
  transition: background-color .5s;
  .play-button {
    position: absolute;
    width: size(50);
    right: 0;
    cursor: pointer;
  }
  &:hover {
    background-color: $blue-light;
    transition: background-color .5s;
  }
}
.product-share-line {
  .all-socials {
    left: 0;
    right: unset;
  }
}
//Homepage services
.service-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    .serv-item-title {
      color: $blue-light;
      transition: color;
    }
    .serv-item-text {
      color: $blue-main;
    }
  }
}
.service-icon-wrap {
  @include d-center;
  position: relative;
  width: 80%;
  border-radius: 10px;
  border: 3px solid $blue-light;
  background-color: #ffffff;
  margin-bottom: 24px;
  &:after {
    content: '';
    display: block;
    padding-bottom: 90%;
  }
}
.serv-icon-item {
  @include overlay;
  @include d-center;
  padding: size(30);
  img {
    max-height: 95%;
  }
}
.serv-item-title {
  @include mid-title;
  font-weight: 700;
  text-align: center;
  color: $blue-main;
  margin-bottom: 10px;
  transition: color .5s;
}
.serv-item-text {
  @include small-text;
  color: $blue-main;
  text-align: center;
}
.main-slide-item {
  @include back-img;
  height: 621px;
}
.main-slider {
  &.slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
  ul.slick-dots {
    position: absolute;
    right: 30px;
    bottom: 26px;
    width: unset;
    display: flex;
    li {
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $blue-text;
        border: none;
        opacity: 1 !important;
        &:before {
          top: unset;
          left: unset;
          color:#ffffff;
          opacity: 0 !important;
          font-size: 0.4rem;
        }
      }
    }
  }
  ul.slick-dots li.slick-active button {
    background-color: $blue-light;
  }
}
.main-video-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  video {
    width: 100%;
  }
}
//Post gallery
.col-gallery-item {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  &:nth-child(even) {
    .gallery-item-post:last-child {
      flex: 0 0 100%;
      max-width: 100%;
      .image-item-gal:after {
        padding-bottom: 50%;
      }
    }
    .gallery-item-post:first-child {
      flex: 0 0 50%;
      max-width: 50%;
      .image-item-gal:after {
        padding-bottom: 100%;
      }
    }
  }
}
.gallery-item-post:first-child {
  flex: 0 0 100%;
  max-width: 100%;
  .image-item-gal:after {
    padding-bottom: 50%;
  }
}
.gallery-item-post {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 12px;
}
.image-item-gal {
  display: flex;
  width: 100%;
  @include back-img;
  &:after {
    display: block;
    content: '';
    padding-bottom: 100%;
  }
}
.play-button {
  cursor: pointer;
}
.product-page-article {
  margin-bottom: 100px !important;
}
.hidden-text-input {
  display: none !important;
}
#breadcrumbs {
  margin-bottom: 25px;
  a, span {
    @include base-text;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
  }
}


@import "responsive";
